@page "/user/cart"
@layout CartLayout;
@attribute [Authorize(Roles = "admin,user")]
@inject NavigationManager NavigationManager
@using oswald_online_shop.Data.OrderServices
@using oswald_online_shop.Data.ProductServices
        <div class="grid grid-cols-12 gap-14 selection:bg-yellow-300">
      
      @if (lstOrdenes==null )
{

     <div class="col-span-8">
            <div class="w-full flex justify-center">

<svg role="status" class="inline mr-2 w-8 h-8 text-white animate-spin dark:text-gray-600 fill-red-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
</svg>

                </div>
                </div>

                          <div class="col-span-3 ">
            <div class="w-full">
              

      <div class=" p-10 w-full shadow-2xl rounded-lg bg-white hover:bg-slate-50 transition-colors flex duration-300 ">

          <div class="basis-3/4">
            <p class="font-semibold text-lg mb-2">Total a pagar</p>
            <button class="bg-yellow-400 hover:bg-yellow-500 hover:transition-colors py-1 px-3 rounded-lg duration-500 mt-5 text-white">Proceder al pago</button>
          </div>
      </div>
      
      
            </div>
          </div>
}else{
     <div class="col-span-8 mb-10">
            <div class="w-full">
                 
                  @foreach(var orden in lstOrdenes)
    {
                   

                  
                   
             <div class="ml-8  p-10 w-full border-b-2 border-gray-100 drop-shadow-m rounded-lg bg-white hover:bg-slate-50 transition-colors duration-300 flex">
            <input type="checkbox" class="self-center accent-pink-500 mr-6" @onchange="eventArgs => { price(orden.precioProducto, eventArgs.Value); }" >
            <div class="w-1/4 mr-10 ">
            <img class="object-cover rounded h-56 w-full" src="@orden.foto" alt="">

          </div>
          <div class="basis-3/4 flex flex-col">
            <p class="font-semibold text-lg mb-2">@orden.nombreProducto</p>
            <p class="font-thin">@orden.categoriaProducto.</p>
            <p class="font-thin">$@orden.precioProducto</p>
<input type="number" class="w-1/3 bg-indigo-100 rounded-lg px-2 py-2"
       max="@orden.stock" placeholder="Cantidad" min="0" @onchange="eventArgs => { stock(orden.stock, eventArgs.Value); }">
            <p class="font-thin">@orden.stock unidades</p>
            <button @onclick="()=> eliminarOrden(orden.idOrden)">Eliminar</button>

          </div>
        </div>   
                    
                   

    }
        
            </div>
          </div>
          <div class="col-span-3 ">
            <div class="w-full">
              

      <div class=" p-10 w-full shadow-2xl rounded-lg bg-white hover:bg-slate-50 transition-colors flex duration-300 ">

          <div class="basis-3/4">
            <p class="font-semibold text-lg mb-2">Total a pagar</p>
    
            <h2 class="font-semibold text-lg mb-2">@sumaPrecio</h2>
    
            <button class="bg-yellow-400 hover:bg-yellow-500 hover:transition-colors py-1 px-3 rounded-lg duration-500 mt-5 text-white">Proceder al pago</button>
          </div>
      </div>
      
      
            </div>
          </div>
}
        </div>




@code {
    [CascadingParameter]
    private Task<AuthenticationState> state { get; set; }


    public  static IEnumerable<Object> orders{ get; set; }
    public  static IEnumerable<Product> products{ get; set; }
    public double sumaPrecio{ get; set; }
    public bool hola{ get; set; }
    public double cantidadComprar{ get; set; }





    public static MyDBContext MydbContext = new MyDBContext();
    private static ProductService productServices = new ProductService(MydbContext);
    private static OrderService orderService = new OrderService(MydbContext);

    List<ordenes> lstOrdenes = new List<ordenes>();

    protected override async Task OnInitializedAsync()
    {       
        try
        {

            if (hola == null)
            {

            }
            else
            {
                var uthState = await state;
                string idCarrito = uthState.User.Identity.Name;
                lstOrdenes= lstJoins(idCarrito);

            }

        }
        catch (Exception e)
        {
            throw e;
        }

    }


    private async Task eliminarOrden(int id)
    {
        orderService.deleteOrder(id);
        NavigationManager.NavigateTo("/productlist");
    }

       public class ordenes
        {
            public int idOrden;
            public string cart;
            public string foto;
            public string nombreProducto;
            public string categoriaProducto;
            public double precioProducto;
            public int stock;
        }
       

     public List<ordenes> lstJoins(string idCart)
        {
            return (from orden in MydbContext.Orders
                    join producto in MydbContext.Products on orden.productId equals producto.id
                    where orden.cartId == idCart
                    select new ordenes {
                        idOrden=orden.id,
                        foto = producto.photoURL,
                        cart = orden.cartId,
                        nombreProducto=producto.name,
                        categoriaProducto=producto.category,
                        precioProducto=producto.price,
                        stock=producto.Stock

                    }
                    ).ToList();
        }
    private async Task<IEnumerable<Product>> getOrderProducts(int id)
    {
        return products = await  productServices.getProductByID(id);
        
    }

    void stock(double clubID, object checkedValue){
      cantidadComprar = Convert.ToDouble(checkedValue);
    }


    void price(double clubID, object checkedValue){
        if ((bool)checkedValue){
        sumaPrecio += clubID;
          if(cantidadComprar > 0){
           sumaPrecio *= cantidadComprar;
          }
        }else{
          if(cantidadComprar > 0){
            for(int i = 0; i < cantidadComprar; i++){
            sumaPrecio -= clubID;      

            }
            
          }else{
                        sumaPrecio -= clubID;      

          }
        }
   }

}


