@page "/"
<div class="mt-10  max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-7xl mx-auto"> 

<MudCarousel Class="mud-width-full rounded-md shadow-2xl shadow-black" Style="height:600px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Style="@($"color:{Colors.Grey.Lighten4};")">
        <div class="d-flex" style="height:100%">
                          <img class="w-full object-cover" src="https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="shop">
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
                          <img class="w-full object-cover" src="https://images.pexels.com/photos/3028500/pexels-photo-3028500.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="shop">
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
     <video class="w-full h-full object-cover" autoplay loop muted  src="video/Vegetable Stand - 151.mp4 "></video>
        </div>
    </MudCarouselItem>
</MudCarousel>


</div>
@code{ 
    private bool arrows = true;
    private bool bullets = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

