@page "/Admin/Listado"
@attribute [Authorize(Roles = "admin")]
@layout Logged


<div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative py-20">

      <h1 class="text-3xl text-center font-bold text-blue-500">Listado de usuarios</h1>

      <div class="border-l-2 mt-10 border-white">
@foreach(var clientes in client){
        <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-pink-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
          <div class="w-5 h-5 bg-pink-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>

          <div class="w-10 h-1 bg-pink-300 absolute -left-10 z-0"></div>

          <div class="flex-auto"><h1 class="text-xl font-bold">@clientes.name &nbsp; @clientes.lastName</h1>

            <h1 class="text-lg">@clientes.birthDay</h1>
            <h1 class="text-lg">@clientes.email</h1>
            <button @onclick="@(e => DeleteUser(clientes.id))">delete</button>
          </div>
        </div>
}
      </div>
    </div>

    @code{
                IList<Client> client;
        protected override async Task OnInitializedAsync(){

            using(var db = new MyDBContext()){
            client =  db.Clients.ToList();
            }
        }

        public void DeleteUser(int id) {
          Console.WriteLine("Delete");
          using(var db = new MyDBContext()){
            Client client = db.Clients.Where(c => c.id == id).ToList()[0];
            db.Clients.Remove(client);
            db.SaveChanges();
            }
        }
    }
